#librastube-stage{

    position:fixed;

    right:20px;

    bottom:20px;

    width:320px;

    height:220px;

    background:#111;

    border:2px solid #28e98c;

    border-radius:16px;

    z-index:999999999;

    overflow:hidden;

    box-shadow:0 0 20px rgba(0,0,0,.35);

    color:white;

    font-family:Arial,sans-serif;

}

#lt-stage-header{

    background:#28e98c;

    color:#111;

    padding:12px;

    font-weight:bold;

    text-align:center;

}

#lt-stage-content{

    height:170px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    font-weight:bold;

}