.lt-sign{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100%;

}

.lt-word{

    font-size:42px;

    font-weight:bold;

    color:#ffffff;

}

.lt-status{

    margin-top:15px;

    color:#00ff99;

    font-size:18px;

}

.lt-finished{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100%;

    color:#00ff99;

    font-size:30px;

    font-weight:bold;

}